<% layout('../layout/layout')%>
    <form action="" method="post" enctype="multipart/form-data" id="editForm" style="width:100%;">
        <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
        <table class="table table-bordered">
            <tr>
                <th>제품명</th>
                <td><input type="text" name="name" class="form-control" value="<%=product.name%>"/></td>
            </tr>
            <tr>
                <th>섬네일</th>
                <td>
                    <input type="file" name="thumbnail" />
                      <% if(product.thumbnail){ %>
                    <a href="/uploads/<%=product.thumbnail%>" target="_blank">업로드 이미지 보기</a>
                    <% } %>
                </td>
            </tr>
            <tr>
                <th>가격</th>
                <td><input type="text" name="price" class="form-control" value="<%=product.price%>"/></td>
            </tr>
            <tr>
                <th>설명</th>
                 <td>
                    <textarea name="description" class="form-control" id="summernote"><%-product.description%></textarea>
                </td>
            </tr>
        </table>
        <button class="btn btn-primary">작성하기</button>
    </form>

 <!-- 스타일관련 -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.css" rel="stylesheet">
<!-- 자바스크립트관련 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.js"></script>

<script type="text/javascript">

 $('#editForm').submit(function(){
     $('input[name=files]').remove()
 })

$('#summernote').summernote({
    height: 300,
    callbacks : {
        onImageUpload: function(files) {
            sendFile(files[0]);
        }
    }
});

function sendFile(file, editor, welEditable) {
    data = new FormData();
    data.append("thumbnail", file);
    $.ajax({
        data: data,
        type: "POST",
        url: '/admin/products/ajax_summernote/',
        cache: false,
        contentType: false,
        processData: false,
        success: function(url) {
            $('#summernote').summernote("insertImage", url);
        }
    });
}
 
</script>