<% layout('../layout/layout')%>

<div class="card" style="width:100%;">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
        <div style="float:left;">
            <%=product.name%>
        </div>
        <div style="float:right;">
            작성일 : 
            <%=product.getDate.year%>-
            <%=product.getDate.month%>-
            <%=product.getDate.day%>
        </div>
    </li>

    <li class="list-group-item">
        <% if(product.thumbnail){%>
            <p>
                <img src="/uploads/<%=product.thumbnail%>" style="width: 300px;"/>
            </p>
        <% } %>
        <%=product.description%>
    </li>
    <li class="list-group-item">
        댓글
        <div id="comment_area"></div>
            <% comments.forEach( function(comment){ %>
                <div>
                    <%=comment.content%>
                        ( <a class='comment_delete' comment_id='<%=comment.id%>'>삭제</a> )
                </div>
            <%})%>
        <div>
            <form id="commentForm" action="" method="post">
                <input type="hidden" name="product_id" value="<%=product.id%>" />
                <textarea class="form-control" name="content" style="resize: none;"></textarea>
                <button class="btn btn-primary" style="margin-top: 10px">댓글작성</button>
            </form>
        </div>
    </li>
  </ul>
</div>

<div style="margin-top:10px; margin-bottom:10px;">
    <a href="/admin/products" class="btn btn-default">목록으로</a>
    <a href="/admin/products/edit/<%=product.id%>" class="btn btn-default">수정</a>
</div>