<% layout('../layout/layout')%>
    <h3 className="page-header">장바구니</h3>
    <table id="cartList" class="table table-bordered table-hover">
        <tr>
            <th></th>
            <th></th>
            <th>제품명</th>
            <th>갯수</th>
            <th>총가격</th>
            <th>삭제</th>
        </tr>

        <% 
            if( Object.keys(cartList).length ){ 
                for( let key in cartList){
        %>
            <tr>
                <td><input type="checkbox" checked="checked" value="<%=key%>"/></td>
                <td>
                    <a href="/products/<%=key%>"><img src="/uploads/<%=cartList[key].thumbnail%>" alt="" width="50" height="50" /></a>
                </td>
                <td><a href="/products/<%=key%>"><%=cartList[key].name%></a></td>
                <td><%=cartList[key].number%></td>
                <td><span><%=cartList[key].amount%></span><span>원</span></td>
                 <td>
                    <a href="#" class="deleteCart btn btn-danger" productId="<%=key%>">삭제</a>
                </td>
            </tr>
        <%
                } //end for /checkout
            }else{
        %>
            <tr>
                <td colspan="5" style="text-align:center">장바구니에 아무것도 안담겼습니다.</td>
            </tr>
        <%}%>
    </table>

    <form method="post" action="/checkout">
        <div id="sendInfo">
            <input type="hidden" name="price">
        </div>
        
        <div class="text-center" style="font-size:30px; margin-bottom:20px;">
            결제금액 : <span style="color:red" id="totalAmount"></span> 원
        </div>
        <div class="text-center">
            <a href="/" class="btn btn-default" style="margin-right:10px;">계속쇼핑하기</a>
            <button class="btn btn-link" style="cursor:pointer;">결제하기</button>
        </div>
    </form>
   
