<!DOCTYPE html>

<html lang="ko">
<%- partial('head') %>
<body id="<%= bodyId %>">
	<div id="page">
		<%- partial('header') %>
		<%- partial('chat') %>
			<div class="container" style="padding-top: 10px; padding-right:0px; padding-left:0px; border:1px solid blue;">
				<nav class="navbar navbar-inverse" style="padding:0px;"> 
					<div class="container-fluid"> 
						<%- body %>
					</div> 
				</nav>
			</div>

		<%- partial('footer') %>
	</div>
</body>
</html>


