<% layout('../layout/layout')%>
<div class="card" style="width:100%;">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
        <div style="float:left;">
            <%=product.name%>
        </div>
        <div style="float:right;">
            작성일 : 
            <%=product.getDate.year%>-
            <%=product.getDate.month%>-
            <%=product.getDate.day%>
        </div>
    </li>

    <li class="list-group-item">
        <table class="tg">
            <tr>
                <td class="tg-0lax">
                    <% if(product.thumbnail){%>
                        <p><img src="/uploads/<%=product.thumbnail%>"/></p>
                    <% } %>
                </td>
                <td class="tg-0lax" style="width:350px;">
                    <div style="margin-top:40px;">
                        <form action="" method="post" id="cartForm">
                            <!--가격-->
                            <input type="hidden" name="price" value="<%=product.price%>">
                            <!--갯수-->
                            <input type="hidden" name="number" value="1">
                            <!--선택한 갯수 * 가격 = 구매가격-->
                            <input type="hidden" name="amount" value="<%=product.price%>">
                            <table>
                                <tr>
                                    <p>상품명 : <%=product.name%></p>
                                </tr>
                                <tr>
                                    <div class="printNum">수량 : </div>
                                    <div class="CountBox">
                                        <a href="#" type="minus">-</a>
                                        <p id="amountHtml">1</p>
                                        <a href="#" type="plus">+</a>
                                    </div>
                                </tr>
                                <tr>
                                    <div class="priceWrap">
                                        금액 : <span id="priceHtml"><%=product.price%></span>
                                        <div style="clear:both"></div>
                                    </div>
                                </tr>
                                <tr>
                                    <div style="margin-top:10px;">
                                        <button type="submit" class="btn btn-primary">장바구니 담기</button>
                                        <button type="button" class="btn btn-success">구매하기</button>
                                    </div>       
                                </tr>
                            </table>
                        </form>
                    </div>
                </td>
            </tr>
        </table>
        <div style="border:2px solid #eaeaea; border-radius: 30px;">
            <p style="margin:10px;">
                <%-product.description%>
            </p> 
        </div>

        <p style="margin-top:20px; font-weight:bold;">댓글</p>
        <div id="comment_area">
            <% comments.forEach( function(comment){ %>
                <div>
                    <%=comment.content%>
                        ( <a class='comment_delete' comment_id='<%=comment.id%>'>삭제</a> )
                </div>
            <%})%>
        </div>

        <div>
            <form id="commentForm" action="" method="post">
                <input type="hidden" name="product_id" value="<%=product.id%>" />
                <textarea class="form-control" name="content" style="resize: none;"></textarea>
                <button class="btn btn-primary" style="margin-top: 10px">댓글작성</button>
            </form>
        </div>
  

        <div style="float:right;">
            <a href="/" class="btn btn-default">목록으로</a>
        </div>
    </li>
  </ul>
</div>

<style>

.printNum { 
    float:left;
    margin-right: 10px; 
}
.CountBox { 
    width: 100px; 
    float:left; 
}
.CountBox a { 
    border : 1px solid #ddd; 
    display:block; 
    float:left; 
    padding: 4px 8px; 
    text-decoration: none;
}
.CountBox p { 
    border-top : 1px solid #ddd; 
    border-bottom : 1px solid #ddd; 
    display:block; 
    float:left; 
    padding: 4px 8px; 
}

.priceWrap { 

    font-size: 20px;
    margin-top:4px;
}

.priceWrap span::after { 
    content : " 원";
}
</style>

<!-- product.js -->
<script>
$(document).ready(function(){
    $('.CountBox a').click(function(event){
        event.preventDefault();
        //타입을 받아온다
        var type = $(this).attr('type');

        //현재 장바구니에 담을 갯수를 저장
        var cartNum = $('input[name=number]').val();

        //현재 제품의 가격표
        var price = $('input[name=price]').val();
        if(type==='minus'){ //+,- 냐에 따라 나눈다
            cartNum -= ( (cartNum==1) ? 0 : 1 ); //1이하로는 못내려가게 한다 
        }else if(type==='plus'){
            cartNum++; 
        }
        //input 태그에 반영 , html페이지 에도 반영
        $('input[name=number]').val(cartNum);
        $('#amountHtml').html(cartNum);
        $('input[name=amount]').val(cartNum * price);
        $('#priceHtml').html(cartNum * price);
    });

    $('#cartForm').submit(function(){
    if(confirm('장바구니에 담겠습니까?')){
        //장바구니에 담길 ID,사진,이름을 받는다
        var productId = <%=product.id%>;
        var thumbnail = "<%=product.thumbnail%>";
        var name = "<%=product.name%>";

        //갯수와 총량을 담는다.
        var number = $('input[name=number]').val();
        var amount = $('input[name=amount]').val();

        var cartList = {};
        var totalAmount = 0;
        if( getCookie('cartList') ){ 
            //쿠키에서 검색후 있으면 json 파싱함
            cartList = JSON.parse(getCookie('cartList'));
        }

        cartList[productId] = { 
            number : number , 
            amount : amount ,
            thumbnail : thumbnail,
            name : name,
        };
        
        // string으로 저장되는데 나중에 {}형식으로 받기위해 stringfy로 저장
        setCookieHour( "cartList" , JSON.stringify(cartList) , 3 );

        alert("장바구니에 담았습니다.");
    }

    return false;
});

});

</script>


